<div id="body">
    <form>
        <label>First Name: </label>
        <input name ="first_name" type="text" label="First Name" placeholder={{request.first_name}}><br>
        <label>Middle Name: </label>
        <input name ="middle_name" type="text" label="Middle Name" placeholder={{request.middle_name}}><br>
        <label>Last Name: </label>
        <input name ="last_name" type="text" label="Last Name" placeholder={{request.last_name}}><br>
        <label>Email: </label>
        <input name ="email" type="text" label="Email" placeholder={{request.email}}><br>
        <label>Phone Number: </label>
        <input name ="phone_number" type="text" label="Phone Number" placeholder={{request.phone_number}}><br>
        <label>Password: </label>
        <input name ="password" type="text" label="Password" placeholder={{request.password}}><br>
        <button>Register</button>
    </form>
</div>