<div id="body">
    <form [formGroup]="userReg" (ngSubmit)="onSubmit()">
        <div>
            <label>First Name: </label>
            <input formControlName="first_name" name ="first_name" type="text" label="First Name" placeholder={{request.first_name}} required><br>
            <label>Middle Name: </label>
            <input formControlName="middle_name" name ="middle_name" type="text" label="Middle Name" placeholder={{request.middle_name}}><br>
            <label>Last Name: </label>
            <input formControlName="last_name" name ="last_name" type="text" label="Last Name" placeholder={{request.last_name}}><br>
            <label>Email: </label>
            <input formControlName="email" name ="email" type="text" label="Email" placeholder={{request.email}}><br>
            <label>Phone Number: </label>
            <input formControlName="phone_number" name ="phone_number" type="text" label="Phone Number" placeholder={{request.phone_number}}><br>
            <label>Password: </label>
            <input formControlName="password" name ="password" type="text" label="Password" placeholder={{request.password}} required><br>
        </div>

        <button type="submit" [disabled]="!userReg.valid">Submit</button>
    </form>
</div>