.divcenter {
    margin: auto;
    width: 350px;
    border: 3px solid black;
    padding: 10px;
}

nav a {
    
    background-color: #e9e9e9;
    color: #000000;
}

nav a:hover {
    background-color: #b1b1b1;
}

nav a:active {
    background-color: #323232;
    color: #ffffff;
}

nav a.active {
    background-color: #323232;
    color: #ffffff;
}